<div class="container">
  <div class="container-background d-flex my-4 py-4">
    <h1><%= @tool.name %></h1>
  </div>
    <div class="container-background d-flex">
      <div class="tool-img-container">
        <img src= <%= @tool.image_url%> class="tool-img">
      </div>
      <div class="tool-content">
        <div class="d-flex justify-content-between w-100">
          <div class="d-flex align-items-center title-wrapper">
            <img class="avatar-bordered" alt="avatar-bordered" src="https://media.istockphoto.com/id/1337144146/de/vektor/standard-avatar-profilsymbolvektor.jpg?s=170667a&w=0&k=20&c=P_OBjasv808q0FKQky9KwCnApsblnOd_gOaQfnzwLnE=">
            <h2><%= @tool.user.firstname %></h2>
          </div>
          <h2><%= number_to_currency(@tool.price, unit: "€", separator: ",") %></h2>
        </div>
        <p><%= @tool.description %></p>
        <a class="btn btn-flat" href="#">Book now</a>
      </div>
    </div>
</div>

<%# https://cdn.pixabay.com/photo/2015/07/28/20/55/tools-864983__480.jpg %>
