<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag "https://res.cloudinary.com/dwrkiuiqa/image/upload/v1677668769/logo_mm1ynn.png" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">

          <li class="nav-item active">
            <%= link_to "Rent Your Tool Out!", "/tools/new", class: "nav-link link-danger" %>
          </li>

          <li class="nav-item active">
            <%= link_to "Find Tools", "/tools", class: "nav-link" %>
          </li>

          <li class="nav-item dropdown">
            <%= image_tag "https://media.istockphoto.com/id/1337144146/de/vektor/standard-avatar-profilsymbolvektor.jpg?s=170667a&w=0&k=20&c=P_OBjasv808q0FKQky9KwCnApsblnOd_gOaQfnzwLnE=", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Your Profile", profile_path, class: "dropdown-item" %>
              <%= link_to "Your Dashboard", dashboard_path, class: "dropdown-item" %>
              <%= link_to "Login", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= link_to "Log Out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
            </div>
          </li>
      </ul>
    </div>
  </div>
</div>
